.leftPane {
    -fx-background-color: #8e4ff3;
}

.button {
    -fx-background-color: #d399ff;
}

.switchFormButton {
    -fx-background-color: #6800b8;
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #d8c5f9;
}

.table-cell {
    -fx-background-color: #d399ff;
}

.adminName {
    -fx-text-fill: #ffffff;
}

.combo-box {
    -fx-background-color: #d399ff;
}