.leftPane {
    -fx-background-color: #1c5dca;
}

.button {
    -fx-background-color: #2979ff;
}

.switchFormButton {
    -fx-background-color: #0000bd;
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #7bacfe;
}

.table-cell {
    -fx-background-color: #2979ff;
}

.adminName {
    -fx-text-fill: #ffffff;
}
