.top-bar{
    -fx-background-color: #1B8025
}

.side-bar{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 10;
}

.search-bar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
}

.avatar{
    -fx-background-radius: 50%;
}

.side-bar-button{
    -fx-background-color: transparent;
}

.item{
    -fx-background-color: #32CD32;
    -fx-background-radius: 10;
}

